---
---

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 32%;
  padding: 17px 20px;
}

.grid-item--gigante {
  width: 100%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* --- family tree -- */
#chart_div {
  .linage {
    fill: none;
    stroke: black;
  }
  .marriage {
    fill: none;
    stroke: black;
  }
  .nodeText{
    font: 10px sans-serif;
  }
  .man {
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}
.woman {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}
}
