/* img[data-action=lumos] {
  cursor: zoom-in; }

div#lumos-container {
  transition: all 250ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: scale(0);
  opacity: 0;
  cursor: zoom-out; }
  div#lumos-container.visible {
    animation-name: animate-in;
    animation-duration: 250ms;
    animation-fill-mode: forwards; }
  div#lumos-container.hidden {
    animation: animate-out;
    animation-duration: 250ms;
    animation-fill-mode: forwards; }

img#lumos-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; }
  @media (min-width: 768px) {
    img#lumos-image {
      max-width: 95%;
      max-height: 95%; } }

@keyframes animate-in {
  0% {
    transform: scale(0);
    opacity: 0; }
  1% {
    transform: scale(0.9);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes animate-out {
  0% {
    transform: scale(1);
    opacity: 1; }
  99% {
    transform: scale(0.9);
    opacity: 0; }
  100% {
    transform: scale(0);
    opacity: 0; } } */

:root {
  --lumos-background: rgba(.8, .8, .8, .7);
  --lumos-padding: 2rem;
  --lumos-child-margin-top: 1rem;
  --lumos-transition-duration: 350ms;
}

img[data-action=lumos] {
  cursor: zoom-in;
}

#lumos-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: var(--lumos-padding);
  cursor: zoom-out;
  user-select: none;
  transition: all var(--lumos-transition-duration) ease-in-out;
  will-change: opacity;
  opacity: 0;
  background: var(--lumos-background);
}
#lumos-container.visible {
  display: flex;
  z-index: 9999;
  animation-name: lumos-animate-in;
  animation-duration: var(--lumos-transition-duration);
  animation-fill-mode: forwards;
}
#lumos-container.hidden {
  display: flex;
  animation: lumos-animate-out;
  animation-duration: var(--lumos-transition-duration);
  animation-fill-mode: forwards;
}
#lumos-figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}
#lumos-image {
  overflow: hidden;
  object-fit: contain;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}
#lumos-caption {
  margin-top: var(--lumos-child-margin-top);
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}
#lumos-link {
  margin-top: var(--lumos-child-margin-top);
}

@keyframes lumos-animate-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lumos-animate-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}