---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- include photo-grid.html -%}

  <!-- JS lightbox modal https://github.com/Jupi007/Lumos -->
  <template id="lumos-template">
    <div id="lumos-container">
      <figure id="lumos-figure">
        <img src="" alt="" id="lumos-image">
        <figcaption id="lumos-caption"></figcaption> <!-- Optional if you don't want to use data-lumos-caption -->
      </figure>
    </div>
  </template>
</div>